<h2>All Albums</h2>


<% @albums.each do |album| %>
<article class = "all_albums">
  <h3>
    <%= album.name %></h3>

  <!-- Links to all photos in single album -->
  <a href = "/albums/album_id"></a>

    <!-- Custom method in model...use uploader process method -->
    <!--  <img src = "/albums/album_id/<%= album.photos.first %>"/> -->

  <p>Description: <%= album.description %></p>

  <% album.photos.each do |photo| %>
    <img src=<%= photo.image %>>
  <% end %>


</article>

<% end %>
