
  <form action="/upload" method="post" enctype="multipart/form-data">
        

    <fieldset class="upload">
      <legend>Upload A Photo</legend>

      <input type="text"   name="path" placeholder = "Name"><br>
      <textarea name = "description" placeholder = "Description"></textarea>
      <input type="text"   name="path" placeholder = "File Path"><br>            
      
      <input type="file" name="image" />
      <input type="submit" name="upload" value = "Upload!" id="upload">
    </fieldset>
  </form>
